<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
	  
		<property name="url">
			<value>jdbc:mysql://211.154.157.174:3306/tianwei?characterEncoding=utf-8</value>
		</property>
		
		<property name="username"> 
			<value>root</value>
		</property>
		<property name="password">
			<value>password</value>
		</property>
		<property name="validationQuery">
			<value>SELECT 1</value>
		</property>
		<property name="testWhileIdle">
			<value>true</value>
		</property>
		<property name="timeBetweenEvictionRunsMillis">
			<value>3600000</value>
		</property>
		<property name="minEvictableIdleTimeMillis">
			<value>18000000</value>
		</property>
		<property name="testOnBorrow">
			<value>true</value>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.connection.release_mode">auto</prop>
				<prop key="hibernate.autoReconnect">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingDirectoryLocations"> 
			<list>
				<value>classpath:com/changpeng/core/model/</value>
				<value>classpath:com/changpeng/core/user/model/</value>
				<value>classpath:com/changpeng/core/message/model/</value>
				<value>classpath:com/changpeng/core/friend/model/</value>
				<value>classpath:com/changpeng/global/model/</value>
				<value>classpath:com/changpeng/sns/diary/model/</value>
				<value>classpath:com/changpeng/sns/photo/model/</value>
				<value>classpath:com/changpeng/sns/userwall/model/</value>
				<value>classpath:com/changpeng/sns/filemanage/model/</value>
			</list> 
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<tx:annotation-driven />

	<bean id="basicDAO" class="com.changpeng.common.BasicDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="basicService" class="com.changpeng.common.BasicService">
		<property name="basicDAO">
			<ref bean="basicDAO" />
		</property>
	</bean>
</beans>