@charset "utf-8";
/**
Style for jiaxq.
update:2008-12-05
author:heye (AT) ekuaike.com
 **/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{margin:0;padding:0;}
body{font-size:12px;
font-family:Tahoma,Verdana, Geneva, Arial, Helvetica, sans-serif; color:#4B4B4B; background:#fff;}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after
{content:'';content:none}:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-spacing:2px;}


fieldset,img,abbr { border: 0; }
address,caption,cite,code,dfn,em,h1,h2,h3,h4,h5,h6,th,var { font-style: normal; font-weight: normal; }
q:before,q:after { content: ''; }

/*body{ font:12px,Tahoma,Verdana, Geneva, Arial, Helvetica, sans-serif; color:#4B4B4B; background:#fff;}*/
button{ margin:0 2px;}
input,textarea{ font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;}
/**{ padding:0; margin:0; list-style:none;}*/
img {border:none; }
/*a{text-decoration:none; color:#666;}
a:hover{ color:#f60; text-decoration:none;}*/
.none {display:none; }
.show {display:block; }
.hidden {display:none; }

/***** 清除浮动 *****/
.clear{ clear:both;}

/***** 遮罩样式 *****/


.overshadow{ top:0; left:0; background:url(../images/icon/overshadow.png); width:100%; height:100%; z-index:998; position:fixed!important;position:absolute;_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); }
* html .overshadow { background:none fixed; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../images/icon/overshadow.png");}
.overshadow iframe{ background:none; opacity: 0; -moz-opacity:0; filter: alpha(opacity=0);}

/***** 弹出窗口 *******/

.popbox {width:356px; overflow:hidden;
top:35%;
_top:20%;
*+ html top:35%;
left:35%; _left:50%;
margin-top:-75px!important;
_margin-top:-50px;
*+ html margin-top:75px;

position:absolute;
z-index:9999; border:2px solid #eee;
text-align:left;margin-left:0!important;_margin-left:-178px; position:fixed;_position:absolute;*+html position:fixed;
_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
documentElement.scrollTop +20+ (document.documentElement.clientHeight-this.offsetHeight)/2 :document.body.scrollTop +20+ (document.body.clientHeight - this.clientHeight)/2); */}
/*
position:fixed!important;position:absolute;_top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ?documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
z-index:9999;
border:2px solid #eee; text-align:left;margin-top:-65px;margin-left:-180px;}*/
/*
.popbox{ width:356px; overflow:hidden;  top:35%; left:35%; position:absolute; z-index:999; border:2px solid #eee; text-align:left;margin-left:0!important;margin-top:-75px!important;margin-top:0px; position:fixed!important;position:absolute;_top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ?documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);}
* html .popbox{margin-top:0px!important;}
.popboxtop{ width:356px; height:26px;position:relative;  overflow:hidden;background:#url(/css/images/icon/popboxtop_bg.gif) repeat-x left top;}
.popboxtop h3{ width:300px; height:26px; line-height:26px; font-size:12px; font-weight:bold;position:absolute; left:10px;top:0px;color:#06c; padding:0px; }
.popboxtop span{ width:20px; height:26px; overflow:hidden; background:url(/css/images/icon/close.gif) right center no-repeat; position:absolute; right:10px;top:0px;}
.popboxtop span a{ width:20px; height:26px; display:block; text-indent:-9999px;}
.popboxbody{ width:296px; overflow:hidden; padding:15px 30px; }
.popboxbody p{ line-height:22px; font-size:14px; margin-bottom:5px; text-align:center;color:red; }
.popboxbody p .inputxt{ width:140px; height:14px; overflow:hidden; background:#fff; padding:2px; border:1px solid #ccc;}
.popboxbody p .inputbox{ width:260px; height:100px; overflow:hidden; background:#fff; padding:2px; border:1px solid #ccc;}
.popboxbody p strong{ color:#f60; margin:0 5px;}
.popboxbody p.txt{ text-align:left; padding:10px 0; border-bottom:1px dotted #ccc;}
.popboxfoot{ width:326px; height:33px; overflow:hidden; background:url(/css/images/icon/popboxfoot_bg.gif) repeat-x left top; padding:10px 0 0 30px;text-align:right; }
.popboxfoot p{ width:326px;}
.popboxfoot button{width:60px; height:20px; overflow:hidden;  text-align:center; line-height:20px; cursor:pointer; margin-right:10px;}
.popboxfoot .popdelete {background:#9CB6FC;color:#FFF;  border:1px solid #3c81c4; }
.popboxfoot .popcancel {background:#EEEEEE;color:#000;  border:1px solid #000; }
.popboxfoot .popconfirm background:#9CB6FC;color:#FFF;  border:1px solid #3c81c4; }
.popboxtop h4{ width:300px; height:26px; line-height:26px; font-size:12px; font-weight:bold;position:absolute; left:10px;top:0px;color:#06c; padding:0px;color:#D50707;  }

*/


/***** 翻页条 *****/
.page{ text-align:right; padding:10px 10px 0 0; color:#2076c7; clear:both; zoom:1; margin-bottom:10px;}
.page a,.page a:visited{ color:#585858;}
.page span{ color:#2076c7;}


.new2bj{margin-left:90px;margin-top:-22px;line-height:20px; }
