<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<description>导入applicationContext文件列表,可随时通过注释disable不需要的模块</description>

    <!-- 导入spring aop配置文件 -->
	<import resource="applicationContext-tx.xml" />
	<!-- 导入spring dao配置文件 -->
	<import resource="applicationContext-dao.xml" />
	<!-- 导入spring 注解配置文件 -->
	<import resource="applicationContext-annotation.xml" />
    <!-- 导入spring 整合OSworkflow配置文件 -->
    <import resource="applicationContext-workflow.xml"/>
</beans>