<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.changpeng.common.listener.ParamIntialListener</listener-class>
	</listener>
	<!-- struts2的配置 -->
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	
	<filter-mapping> 
<filter-name>struts</filter-name> 
<url-pattern>*.action</url-pattern> 
</filter-mapping>
	<!-- struts2的配置 END-->	
	
	<!-- 上传 -->
    <filter> 
        <filter-name>struts-cleanup</filter-name> 
        <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class> 
    </filter>
    <filter-mapping>
        <filter-name>struts-cleanup</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	
	<!-- 验证码 -->
	<servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.changpeng.common.util.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>	
	    <servlet-name>VerifyCodeServlet</servlet-name>
	    <url-pattern>/verify/VerifyCode.jsp</url-pattern>
    </servlet-mapping>
	<!-- 验证码    END-->   
	
	<servlet>
  	<servlet-name>JSPSupportServlet</servlet-name>
  	<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
	</servlet>
	

     <session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	 <mime-mapping>
        <extension>doc</extension>
        <mime-type>application/msword</mime-type>
    </mime-mapping>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
