.pt9-18 {
	font-family: Times New Roman, Times, serif;
	font-size: 9pt;
	line-height: 18px;
	color: #000000;
}
.botton1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	background-color: #757575;
	border: 1px solid #000000;
	height: 18px;
}
.input1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	border: 1px solid #999999;
}
a:link {
	color: #222222;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: underline;
}
.sort-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
P {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: Verdana, Sans-serif
}
OL {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: Verdana, Sans-serif
}
UL {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: Verdana, Sans-serif
}
LI {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: Verdana, Sans-serif
}
DL {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: Verdana, Sans-serif
}
DT {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: Verdana, Sans-serif
}
DD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: Verdana, Sans-serif
}
BLOCKQUOTE {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: Verdana, Sans-serif
}
UL {
	FONT-SIZE: 100%; LINE-HEIGHT: 120%; LIST-STYLE-TYPE: square
}
OL {
	FONT-SIZE: 100%; LINE-HEIGHT: 120%; LIST-STYLE-TYPE: square
}
LI {
	FONT-SIZE: 100%; LINE-HEIGHT: 120%; LIST-STYLE-TYPE: square
}
SPAN {
	FONT-WEIGHT: 500; FONT-SIZE: 12px; COLOR: #000000
}
BLOCKQUOTE {
	FONT-SIZE: 100%; MARGIN-RIGHT: 0px
}
H1 {
	COLOR: #000000
}
H2 {
	COLOR: #000000
}
H3 {
	COLOR: #000000
}
H4 {
	COLOR: #000000
}
H5 {
	COLOR: #000000
}
H6 {
	COLOR: #000000
}
H1 {
	MARGIN-TOP: 10px; FONT-SIZE: 150%
}
H2 {
	MARGIN-TOP: 25px; FONT-WEIGHT: bold; FONT-SIZE: 130%
}
H3 {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 110%
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 105%
}
H5 {
	FONT-SIZE: 100%; FONT-STYLE: italic
}
H6 {
	FONT-SIZE: 100%; FONT-STYLE: italic
}
PRE {
	FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: "Courier New", Courier, monospace
}
TT {
	FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: "Courier New", Courier, monospace
}
PRE.code {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 90%; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee
}
HR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #cccccc; PADDING-TOP: 0px; HEIGHT: 2px; BACKGROUND-COLOR: #cccccc; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: monospace
}
TEXTAREA {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: monospace
}
TEXTAREA {
	PADDING-LEFT: 2px
}
SELECT {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: monospace
}
FIELDSET {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.menulabel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Sans-Serif
}
.menulabel:visited {
	COLOR: white
}
.mask {
	BORDER-RIGHT: #58656b 1px solid; BORDER-TOP: #58656b 1px solid; BORDER-LEFT: #58656b 1px solid; BORDER-BOTTOM: #58656b 1px solid; BACKGROUND-COLOR: #eeeeee
}
.label {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Sans-Serif
}
.fieldvalue {
	FONT-WEIGHT: bold
}
.textbutton {
	MARGIN: 2px;
	BORDER-RIGHT: #ffffff 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	BORDER-BOTTOM: #ffffff 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	cursor: hand;
	color: #000000;
}
.buttonlabel {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Sans-Serif
}
.imgbutton {
	BORDER-RIGHT: #ffffff 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	BORDER-BOTTOM: #ffffff 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	cursor: hand;
}
.formbutton {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana, Sans-Serif; BACKGROUND-COLOR: #bcae79
}
.listview {
	MARGIN: 5px
}
.listheadline {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Sans-serif; BACKGROUND-COLOR: #58656b
}
.listline {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #DDDDDD
}
.errorMessage {
	COLOR: red
}
.errorLabel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0000ff; FONT-FAMILY: Verdana, Sans-Serif
}
.body {
	margin-left: 0px;
	margin-top: 0px;
}
