/* @Packager.Header
<FileDescription>
	Styles used in the samples pages.
</FileDescription>
<Author name="Frederico Caldeira Knabben" email="fckeditor@fredck.com" />
*/

body, td, input, select, textarea
{
	font-size: 12px;
	font-family: Arial, Verdana, Sans-Serif;
}

h1
{
	font-weight: bold;
	font-size: 180%;
	margin-bottom: 10px;
}

form
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
