@CHARSET "UTF-8";

/****课堂伴侣****/
.ketangbanlv .title-h a{color:#fff;}
.ktblbox .formop{margin-right:45px;margin-bottom:10px;}
.ktblbox .content-body{border:1px solid #85CCF8;width:98%}
.ketangbanlv .title-info{border:0;}
.ktbl-content .content-body{margin:10px 0;padding:5px;}
.ketangbanlv .list table{font-size:12px;}
.ketangbanlv .relationinfodes .list table{margin:0 auto;width:97%;}