<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

<bean id="lawyersDAO" class="com.changpeng.lawyers.dao.LawyersDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
<bean id="lawyersService" class="com.changpeng.lawyers.service.LawyersService">
		<property name="lawyersDAO">
			<ref bean="lawyersDAO" />
		</property>
	</bean>
	
	<bean id="lawyerOperLogService" class="com.changpeng.lawyers.service.LawyerOperLogService">
		<property name="basicDAO">
			<ref bean="basicDAO" />
		</property>
	</bean>
	
	<bean id="lawyerLoginLogService" class="com.changpeng.lawyers.service.LawyerLoginLogService">
		<property name="basicDAO">
			<ref bean="basicDAO" />
		</property>
	</bean>	
	<bean id="sysGroupService" class="com.changpeng.lawyers.service.SysGroupService">
		<property name="basicDAO">
			<ref bean="basicDAO" />
		</property>
	</bean>
	
	
	
</beans>